__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
examples/demo/.venv/
examples/demo/ragtail.db
examples/demo/ragtail.db-*
*.db-shm
*.db-wal
freshtest.db
migrations-test.db
examples/demo/oxytail.db
src/oxytail/models.pyi
examples/demo/oxytail.db-*
node_modules/
